@page "/Delete/{VehiculoId:int}"
@inject HttpClient httpClient
<EditForm Model="vehiculos">
	<DataAnnotationsValidator />
	<div class="card">
		<div class="card-header">
			<h2>Eliminar Veh&iacute;culo</h2>
		</div>

		<div class="card-body">
			<div class="mb-3">
				<label>Veh&iacute;culoId</label>
				<InputNumber @bind-Value="vehiculos.VehiculoId" readonly></InputNumber>
			</div>

			<div class="mb-3">
				<label>Descripci&oacute;n</label>
				<InputText @bind-Value="vehiculos.Descripcion" readonly></InputText>
			</div>

			<div class="mb-3">
				<label>Fecha</label>
				<InputDate @bind-Value="vehiculos.Fecha" readonly></InputDate>
			</div>


			<div class="mb-3">
				<label>Costo</label>
				<InputNumber @bind-Value="vehiculos.Costo" readonly></InputNumber>
			</div>
			<div class="mb-3">
				<label>Gasto</label>
				<InputNumber @bind-Value="vehiculos.Gasto" class=""></InputNumber>
			</div>
			<p class="text-danger">@mensaje</p>
			<div class="card-footer">
				<button><a href="/Index" class="btn btn-group bi bi-arrow-left">Atr&aacute;s</a></button>
				<button type="button" class="btn btn-danger" @onclick="Eliminar" >Eliminar</button>
			</div>

		</div>
	</div>
</EditForm>
@code {
	[Parameter]
	public int VehiculoId { get; set; }
	public Vehiculos vehiculos { get; set; } = new Vehiculos();
	public string mensaje = string.Empty;

	protected override async Task OnInitializedAsync()
	{
		vehiculos = await httpClient.GetFromJsonAsync<Vehiculos>($"api/Vehiculos/{VehiculoId}");
	}


	public async Task Eliminar()
	{
		var response = await httpClient.DeleteAsync($"api/Vehiculos/{VehiculoId}");
		mensaje = "Vehículo eliminado Correctamente";
		StateHasChanged();

	}
}
